body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Montserrat'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Montserrat'
    monospace;
}

.Animate {
  animation: fadeInAnimation 2s ease-in-out;
}

@keyframes fadeInAnimation {
  0% {
    /* transform: translateY(-1%); */
    opacity: 0;
  }
  50% {
    transform: translateY(-17px);
    opacity: .5;
  }
}

/* ::-webkit-scrollbar {
  width: 2px
} */